body {
	font-family: sans-serif;
}
a {
	text-decoration: none;
}
nav {
	display: inline-block;
	min-width: 200px;
	vertical-align: top;
}

.menu-icon {
	display: block;
	cursor: pointer;
	font-size: 40px;
	line-height: 50px;
	text-align: center;
}
.menu-mobile-expand {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 18px;
	text-align: center;
	cursor: pointer;
}

/*** always visible ***/
#menu-1 {
	position: relative;
	z-index: 10;
	width: 50px;
	height: 50px;
}
#menu-1 ul {
	display: none;
	list-style: none;
	padding: 0;
	margin: 0;
	line-height: 20px;
	min-width: 200px;
}
#menu-1 > ul {
	position: absolute;
	top: 50px;
}
#menu-1 li {
	position: relative;
	width: 100%;
	white-space: nowrap;
	background: #333;
}
#menu-1 a {
	display: block;
	padding: 5px 20px 5px 5px;
}
#menu-1.nojs:hover ul {
	display: block;
}

/*** media queries ***/
@media
screen and (max-width: 900px) {
	#menu-2 {
		position: relative;
		z-index: 9;
		width: 50px;
		height: 50px;
	}
	#menu-2 ul {
		list-style: none;
		padding: 0;
		margin: 0;
		line-height: 20px;
		min-width: 200px;
	}
	#menu-2 > ul {
		display: none;
		position: absolute;
		top: 50px;
	}
	#menu-2 li {
		position: relative;
		width: 100%;
		white-space: nowrap;
		background: #333;
	}
	#menu-2 a {
		display: block;
		padding: 5px 20px 5px 5px;
	}
}